<section class="grid grid-cols-6  grid-rows-2 justify-around h-full ">
    <div
        [id]="'user'+i"
        [style.grid-row-start]="getRow(i)"
        class="m-auto"
        *ngFor="let user of users; let i = index">
        <app-active-user [users]="users" [user]="users[i]"></app-active-user>
    </div>
    <div class="flex flex-col gap-2">
        <!-- <p>Accepted: <span class="bg-green-500 p-1 text-white rounded-lg">{{totalAcceptedCount}}</span></p>
        <p>Rejected: <span class="bg-red-500 p-1 text-white rounded-lg ml-1">{{totalRejectedCount}}</span></p> -->

    </div>
</section>