
a{
    @apply border-transparent
    hover:border-white focus:border-white rounded-2xl
    active:bg-white active:text-black
}
.local-title{
    font-size: 40px;
    font-weight: 700;
}
#image-section{
    grid-template-columns: 1fr 1fr;
}
#shadow-effect{
    width: 600px;
    height: 400px;
    background: radial-gradient(white 1%, transparent 50%, transparent) ;
    @apply  rounded-full bottom-[-120px] left-[0px] -z-10 opacity-20
}
@media (min-width:1024px) {
    #shadow-effect{
        right: -100px;
        left: unset;
    }
}

#admin-section{
    display: grid;
    grid-template-columns: 200px 1fr 1fr 200px;
    grid-template-rows: 120px 1fr  200px;
}
#local-floating-point{
    opacity: 25%;
    position: absolute;
    width: 2000px;
    height: 2000px;
    transform: translate3d(0px, 500px, 0px);
    background: radial-gradient(white 1%, transparent 50%, transparent) ;
    /* background: green; */
    transition: transform 500ms ease-out;
    will-change: transform; 
    transform-style: preserve-3d;
}
#carousel{
    @apply relative -left-[50%] hover:left-0 transition-all duration-500
}
.screen-height-section{
    height: 100vh;
    min-height: 700px;
}
.subtitle{
    @apply text-xl
}
#footers-footer{
    background-color: #2B2B2B;
}
/* #region 3d cube */
