<div id="local-floating-point" class="absolute -z-10 -top-[1000px] -left-[1000px]">asdf</div>
<app-home-button class="fixed bottom-6 right-8 z-50"></app-home-button>
<section class="screen-height-section flex ">
    <div class="flex m-auto flex-col text-center">
        <p class="text-5xl font-bold text-[60px] scroll-hidden">{{'schedule' | uppercase}}</p>
        <p class="text-gray-500 m-4 text-[16px]  scroll-hidden">for my home university</p>
    </div>
</section>
<section id="mobile-section" class="screen-height-section">
    <p class="local-title col-start-2 mt-[5%] scroll-hidden  -translate-y-4">MOBILE APP</p>
    <div class="col-start-2 relative flex">
        <app-schedule-list class="ml-8 my-auto max-w-[300px] h-[calc(100%-60px)] pb-4" [items]="mobileList"></app-schedule-list>
        <div class=" w-[1px] h-full bg-red-300 absolute -left-8 top-0 scroll-hidden"></div>
    </div>
    <div class="group flex col-start-3 col-span-2 row-span-2 relative overflow-hidden scroll-hidden">
        <img class="ml-auto mr-[200px] h-[500px] transition-all duration-500 hover:rotate-[3deg] " src="../../../../assets/schedule-phone.png" />
        <div id="shadow-effect" class="group-hover:scale-[1.5]
        scroll-hidden  absolute rotate-[-30deg]"></div>
    </div>
    <app-external-link 
        href="https://play.google.com/store/apps/details?id=com.phoenix.schedule&hl=ru"
        class="col-start-2 mt-auto mb-16 scroll-hidden">phoenix@schedule</app-external-link>
</section>
<section id="admin-section" class="screen-height-section max-h-screen relative">
    <p class="local-title col-start-3 mt-[5%] text-right scroll-hidden -translate-y-4">ADMIN APP</p>
    <div class="col-start-3 relative flex ml-auto">
        <app-schedule-list [isLeft]="false" class="my-auto mr-8 max-w-[300px] h-[calc(100%-60px)] pb-4" [items]="adminList"></app-schedule-list>
        <div class=" h-[1px] w-full bg-white opacity-20 absolute -bottom-8 scroll-hidden"></div>
    </div>
    <app-external-link 
        href="https://github.com/te5se/schedule"
        class="col-start-3 ml-auto mt-16 scroll-hidden">te5se@github.com</app-external-link>
    <app-schedule-image-carousel class="row-start-2 col-span-2 h-full scroll-hidden" id="carousel"></app-schedule-image-carousel>
</section>
<footer id="footer-section" class="screen-height-section grid grid-cols-[115px_7fr_5fr_10fr] grid-rows-[50px_auto_80px_1fr_120px]">
    <p class="local-title col-start-2 row-start-2 mb-4 scroll-hidden  -translate-y-4">THE STORY</p>
    
    <p class="subtitle col-start-2 row-start-3 ml-1 scroll-hidden  -translate-y-4">THE BEGINNING</p>
    <p class="subtitle col-start-3 row-start-3 scroll-hidden  -translate-y-4">THE RESULTS</p>

    <p class="row-start-4 col-start-2 pr-[25%] scroll-hidden">{{beginningText}}</p>
    <section class="flex flex-col row-start-4 col-start-3 scroll-hidden">
        <p class="">{{resultsText}}</p>
        <p>During the production phase application:</p>
        <p>- served over 50.000 distinct schedule queries</p>
        <p>- provided over 15 groups and several teachers with schedules on a daily basis</p>
    </section>

    <app-cube class="col-start-4"></app-cube>

    <div id="footers-footer" class="row-start-5 col-span-4 scroll-hidden"></div>
</footer>