<div >
    <div #wrapper ></div>
    <!-- <div class="flex flex-row gap-2">
        <button (click)="x = x - 1">-</button>
        <p>x</p>
        <button (click)="x = x + 1">+</button>
    </div>
    <div class="flex flex-row gap-2">
        <button (click)="y = y - 1">-</button>
        <p>y</p>
        <button (click)="y = y + 1">+</button>
    </div>
    <div class="flex flex-row gap-2">
        <button (click)="z = z - 1">-</button>
        <p>z</p>
        <button (click)="z = z + 1">+</button>
    </div> -->
</div>