/* You can add global styles to this file, and also import other style files */
@import "./styles/unlayeredPrime.css";
@import "../node_modules/primeicons/primeicons.css";
@import "../node_modules/font-awesome/css/font-awesome.css";
@import "./styles/customCSS.css";
@import "./styles/components/overlay.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  width: 0.6em;
  background-color: var(--accent-color);
}

*::-webkit-scrollbar-thumb {
  background-color: gray;
  outline: 1px solid gray;
}
.material-symbols-outlined {
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 48;
}
* {
  font-family: "Noto Sans", sans-serif;
}

:root{
  --showup-duration: 800ms;
  --showup-easing: ease-in;
}