
.container {
	position: relative;
	margin: 200px auto;
	width: 300px;
	height: 300px;
	perspective: 600px;
}

.cube {
	width: inherit;
	height: inherit;
	transform-style: preserve-3d;
    transition: transform;
    transition-duration: 200ms;
    transition-timing-function: linear;
}
.side {
    display: flex;
	position: absolute;
	width: inherit;
	height: inherit;
	border: 5px solid #fff;
	font: normal 70px Arial;
	text-align: center;
	line-height: 300px;
	color: #fff;
}

.front {
	transform: translateZ(150px);
}

.back {
	transform: rotateY(180deg) translateZ(150px);
}

.right {
	transform: rotateY(90deg) translateZ(150px);
}

.left {
	transform: rotateY(-90deg) translateZ(150px);
}

.top {
	transform: rotateX(90deg) translateZ(150px);
}

.bottom {
	transform: rotateX(-90deg) translateZ(150px);
}
.side > section{
    @apply w-full grid grid-rows-[50%_50%]  opacity-0  transition-all duration-500
}
.side:hover > section{
    @apply scale-[1.03] opacity-100 bg-white
}
/* #endregion */
app-schedule-cube-item{
    @apply h-full w-full flex transition-all duration-500
}