<div class="container" (click)="cubeClick()">
    <div class="cube " [style.transform]="'rotateY(' + this.x + 'deg)'+'rotateX(' + this.y + 'deg)'">
        <div class="side front">
            <section class="">
                <app-schedule-cube-item [lesson]="lessons[0]" class="border-b-2 border-black"></app-schedule-cube-item>
                <app-schedule-cube-item [lesson]="lessons[1]" class=""></app-schedule-cube-item>
            </section>
        </div>
        <div class="side back">
            <section class="">
                <app-schedule-cube-item [lesson]="lessons[2]" class="border-b-2 border-black"></app-schedule-cube-item>
                <app-schedule-cube-item class=""></app-schedule-cube-item>
            </section>
        </div>
        <div class="side right">
            <section class="">
                <app-schedule-cube-item [lesson]="lessons[3]"  class="border-b-2 border-black"></app-schedule-cube-item>
                <app-schedule-cube-item  [lesson]="lessons[4]" class=""></app-schedule-cube-item>
            </section>
        </div>
        <div class="side left">
            <section class="">
                <app-schedule-cube-item class="border-b-2 border-black"></app-schedule-cube-item>
                <app-schedule-cube-item [lesson]="lessons[5]" class=""></app-schedule-cube-item>
            </section>
        </div>
        <div class="side top">
            <section class="">
                <app-schedule-cube-item [lesson]="lessons[6]" class="border-b-2 border-black"></app-schedule-cube-item>
                <app-schedule-cube-item [lesson]="lessons[7]" class=""></app-schedule-cube-item>
            </section>
        </div>
        <div class="side bottom">
            <section class="">
                <app-schedule-cube-item [lesson]="lessons[8]" class="border-b-2 border-black"></app-schedule-cube-item>
                <app-schedule-cube-item [lesson]="lessons[9]" class=""></app-schedule-cube-item>
            </section>
        </div>
    </div>
</div>