<div id="wrapper" class="">
    <section id="first-section" class="screen-height-section flex w-full relative overflow-hidden">
        <div class="flex flex-col ml-[var(--title-margin)] mt-[calc(var(--title-margin)-56px)]">
            <h1 class="scroll-hidden">Lighthouse <br> DMS</h1>
            <h2 class="scroll-hidden !delay-100">Electronic document management <br> system</h2>
        </div>
        <app-reports class="absolute right-[56px] bottom-[40px] scale-125 origin-bottom-right" ></app-reports>
    
    </section>
    <section id="second-section" class="flex flex-col screen-height-section relative">
        <div id="lighthouse" [style.background-image]="'url(' + baseHref + 'assets/Lighthouse.png)'"></div> 
        <h1 class="flex scroll-hidden ml-[var(--title-margin)] mt-24">Customizable routing
            <button (click)="customizableRouting.runDocument()" class="hover:bg-[#00000060] active:bg-black active:text-white duration-150 text-base ml-4 mb-4 
                my-auto relative border-black border-2 rounded-full p-2 px-4 mr-auto">run the document</button>
        </h1>
        <app-customizable-routing #customizableRouting class="w-full h-full">

        </app-customizable-routing>
    </section>
    <section id="third-section" class="h-[2000px] mt-[30vh] relative pt-[50vh]">
        <div class="sticky top-[40vh] mx-auto flex flex-col">
            <h1 class="mx-auto">MILLIONS</h1>
            <h2 class="mx-auto">of documents</h2>
        </div>

        <div 
            *ngFor="let wrapper of parallaxWrappers"
            [style.--parallax-speed]="wrapper.parallaxSpeed"
            [style.--parallax-margin-bottom]="wrapper.bottomMarginPX + 'px'"
            [style.padding-left]="wrapper.leftPercent + '%'"
            class="test-parallax pb-[var(--parallax-margin-bottom)] -z-10 absolute bottom-0 top-0 left-0 right-0 flex justify-end flex-col overflow-hidden">
            <app-parallax-document 
                [style.scale]="wrapper.scale"
                [item]="wrapper.parallaxItem"
                class="w-fit">
            </app-parallax-document>
        </div>
        


        <!-- <div *ngFor="let item30 of array30; index as i" class="absolute w-24 h-full left-0 top-0">
            
            <div [style.top]="50 * i + 'vh'" *ngIf="i < 5" 
                class="absolute h-2 w-full bg-red-400">
                
            </div>
        </div> -->
        
    </section>
    <section id="last-section" class="flex flex-col screen-height-section relative mt-[50vh]">
        <h1 class="mx-auto mt-40">Over 1000 active users</h1>

        <app-active-users class="h-1/2 w-full mt-24"></app-active-users>
    </section>
</div>
