<div id="wrapper" class="">
    <section id="first-section" class="screen-height-section flex w-full relative overflow-hidden">
        <div class="flex flex-col ml-[var(--title-margin)] mt-[calc(var(--title-margin)-56px)]">
            <h1 class="scroll-hidden">Lighthouse <br> DMS</h1>
            <h2 class="scroll-hidden !delay-100">Electronic document management <br> system</h2>
        </div>
        <app-reports class="absolute right-[56px] bottom-[40px] scale-125 origin-bottom-right"></app-reports>

    </section>
    <section id="second-section" class="flex flex-col screen-height-section relative">
        <div id="lighthouse" [style.background-image]="'url(' + baseHref + 'assets/Lighthouse.png)'"></div>
        <h1 class="flex scroll-hidden ml-[var(--title-margin)] mt-24">Customizable routing

        </h1>
        <h2 class=" ml-[var(--title-margin)]" [innerHTML]="customizableRouting.status | async"></h2>
        <div *ngIf="isEditingRoute == false" class="ml-[var(--title-margin)]  flex gap-4 justify-start mt-8">
            <button [disabled]="isRoutingInProgress" (click)="runDocument()" 
                class="local-button min-w-[150px]">
                {{runDocumentCaption}}
            </button>
            <button (click)="isEditingRoute = true"  [disabled]="isRoutingInProgress" 
                class=" local-button">
                change route
            </button>
        </div>
        <div *ngIf="isEditingRoute" class="ml-[var(--title-margin)]  flex gap-4 justify-start mt-8">
            <p class="my-auto text-lg">number of coordinators</p>
            <button 
                (click)="removeCoordinator()"
                class="local-button">
                -
            </button>
            <P class="my-auto  text-lg">{{numberOfCoordinators}}</P>
            <button 
                (click)="addCoordinator()"
                class="local-button">
                +
            </button>

            <div class="w-[1px] h-full bg-black mx-8"></div>

            <button
                (click)="isTaskSectionActive = !isTaskSectionActive"
                class="flex flex-row gap-2 local-button">
                
                {{isTaskSectionActive ? 'don\'t track task progress' : 'track task progress'}}
            </button>

            <div
                class="w-[1px] h-full bg-black mx-8"></div>

            <button 
                class="flex flex-row gap-2 local-button"
                (click)="isEditingRoute = false">
                <i class="material-symbols-outlined">save</i>
                save
            </button>   
        </div>

        <app-customizable-routing 
            [trackTaskProgress]="isTaskSectionActive"
            [numberOfCoordinators]="numberOfCoordinators" #customizableRouting (isInProgress)="this.isRoutingInProgress = $event"
            class="w-full h-full -mt-20">

        </app-customizable-routing>
    </section>
    <section id="third-section" class="h-[2000px] mt-[30vh] relative pt-[50vh]">
        <div class="sticky top-[40vh] mx-auto flex flex-col">
            <h1 class="mx-auto">MILLIONS</h1>
            <h2 class="mx-auto">of documents</h2>
        </div>

        <div *ngFor="let wrapper of parallaxWrappers" [style.--parallax-speed]="wrapper.parallaxSpeed"
            [style.--parallax-margin-bottom]="wrapper.bottomMarginPX + 'px'"
            [style.padding-left]="wrapper.leftPercent + '%'"
            class="test-parallax pb-[var(--parallax-margin-bottom)] -z-10 absolute bottom-0 top-0 left-0 right-0 flex justify-end flex-col overflow-hidden">
            <app-parallax-document [style.scale]="wrapper.scale" [item]="wrapper.parallaxItem" class="w-fit">
            </app-parallax-document>
        </div>

    </section>
    <section id="last-section" class="flex flex-col screen-height-section relative mt-[50vh]">
        <h1 class="mx-auto mt-40">Over 1000 active users</h1>

        <app-active-users class="h-1/2 w-full mt-24"></app-active-users>
    </section>
</div>