#wrapper{
    --title-margin: 20px;
    --parallax-margin-bottom: 0px;
    --parallax-speed: 1;
}
@media (min-width: 768px) {
    #wrapper{
        --title-margin: 120px;
    }
}
@media (min-width: 1024px) {
    #wrapper{
        --title-margin: 176px;
    }
}


.screen-height-section{
    min-height: max(100svh,800px);
}
#first-section{
    background: linear-gradient(180deg, #B4D8FF 0%,  #B4D8FF 40%, #E8F3FE 100%);
}
#second-section{
    background: linear-gradient(180deg, #E8F3FE 0%, white 100%);
}
h1{
    font-size: 42px;
    font-weight: bold;
    letter-spacing: 6px;
}
h2{
    font-size: 28px;
    font-weight: 300;
}
@media (min-width: 1024px) {
    h1{
        font-size: 64px;
        letter-spacing: 6px;
    }
    h2{
        font-size: 42px;
    }
}
#lighthouse{
    position: absolute;
    top: -150px;
    bottom: -250px;
    left: -512px;
    width: 850px;
    background-repeat:no-repeat;
    background-position: center center;
    background-size: contain;
    opacity: 0.3;
}

@media (min-width: 1024px) {
    #lighthouse{
        width: 900px;
    }
}
.animation-test{
    animation: full-width-animation linear;
    animation-timeline: view();
}
@keyframes full-width-animation{
    from{
        width: 0%
    }
    to{
        width: 100%
    }
}
.test-parallax{
    animation: parallax linear forwards;
    animation-timeline: view();
    animation-range: contain 0% contain 100%;

}

@keyframes parallax{
    from{
        padding-bottom: var(--parallax-margin-bottom); 
    }
    to{
        padding-bottom: calc(2000px * var(--parallax-speed) + var(--parallax-margin-bottom))
    }
}
.local-button{
    @apply hover:bg-[#00000060] active:bg-black active:text-white duration-150 text-base 
    relative border-black border-2 rounded-full p-2 px-4 text-left max-h-[64px]
}
*::-webkit-scrollbar {
    background-color: transparent;
}