*{
    --left-margin: 80px
}
#main-title-ellipse{
    position: absolute;
    background-color: var(--accent-color);
    width: 170vw;
    height: 140vh;
    border-radius: 50%;
    left: -50vw;
    top: -30vh;
}

#secondary-title-ellipse{
    position: absolute;
    background-color: white;
    width: 620px;
    height: 332px;
    border-radius: 50%;
    left: -400px;
    top: -56px;
}

@media (min-width: 1024px) {
    #secondary-title-ellipse{
        position: absolute;
        background-color: white;
        width: 696px;
        height: 360px;
        border-radius: 50%;
        left: -400px;
        top: -56px;
    }
}
body{
    overflow-x: hidden;
}