<!-- first section -->
<div (window:resize)="onResize($event)" #wrapper class="z-20 absolute flex h-screen w-full overflow-hidden">
    <section class="ml-[var(--left-margin)] mt-[80px] flex flex-col justify-between">
        <div class="flex flex-row gap-8">
            <span class="text-[var(--accent-color)] text-6xl lg:text-8xl  font-bold">MES</span>
            <span class="text-white text-6xl lg:text-8xl my-auto font-bold">Coordinator</span>
        </div>
        <a
            href="https://github.com/te5se/portfolio/tree/develop/ProjectDescriptions/MES"
            class="button z-10 px-8 mb-8 lg:mb-32 mx-auto md:-ml-8 text-3xl mr-auto
            ">see the details</a>
    </section>
    
    <app-gears
        [style.bottom]="'-' + (size()/6 - 100) + 'px'"
        [style.right]="'-' + (size()/3 - 200) + 'px'"
        class="overflow-hidden absolute" [size]="size()"></app-gears>
</div>
<!-- first section -->
<section #wrapper class="z-10 relative flex h-[114vh] w-full overflow-hidden">
    <div id="main-title-ellipse" class=""></div>
    <div id="secondary-title-ellipse" class=""></div>
    
</section>

<!-- second section -->
<section class="screen-height-section relative flex flex-row " >
    <div id="second-section-main-ellipse" class="-z-10"></div>

    <div class="grid grid-rows-[80px_auto_auto_1fr_auto_5fr_auto] basis-1/3 h-full w-full ml-[var(--left-margin)] ">
        <span class="row-start-2 text-[var(--accent-color)] text-6xl lg:text-7xl font-bold">MES</span>
        <span class="row-start-3 text-[var(--accent-color)] ml-1 text-2xl">manufacturing execution system</span>

        <app-subsystem-list class="row-start-5">

        </app-subsystem-list>
    </div>
</section>