<!-- #region first --> 
<section class="side bg-gray-700 z-10" 
    [style.transition-duration]="transitionDuration" 
    [style.width]="leftWidth">
    <div class="scroll-hidden flex flex-col">
        <p class="text-white">Make your production line</p> 
        <div class="flex flex-row mx-auto"> <p class="my-auto text-white ">run</p>  <p class="typed-part text-[#f55049] ">faster</p></div>
    </div>
    
    <div 
        class="video-line"
        [style.top]="videoLineTop"
        [style.opacity]="videoLineOpacity">
        <app-shadows-for-video   
            [style.transition]="videoLineTransition"
            [style.transform]="videoLineTransform"></app-shadows-for-video >
        <app-shadows-for-video 
            [style.transition]="videoLineTransition"
            [style.transform]="videoLineTransform"></app-shadows-for-video>
    </div> 
</section>
<section class="side bg-[#f55049] z-0 " [style.transition-duration]="transitionDuration">
    <div class="scroll-hidden flex flex-col">
        <p class="text-gray-700">Make your production line</p> 
        <div class=" flex flex-row mx-auto"> <p class="my-auto text-gray-700">run</p>  <p class="typed-part text-white ">better</p></div>
    </div>
    <div 
        class="video-line"
        [style.top]="videoLineTop"
        [style.opacity]="videoLineOpacity">
        <app-shadows-for-video   
            [isLight]="false"
            [style.transition]="videoLineTransition"
            [style.transform]="videoLineTransform"></app-shadows-for-video >
        <app-shadows-for-video 
            [isLight]="false"
            [style.transition]="videoLineTransition"
            [style.transform]="videoLineTransform"></app-shadows-for-video>
    </div> 
</section>
<!-- #endregion first --> 
<div id="first-section-placeholder" class="h-[120vh] max-h-[120vh] overflow-hidden relative">
    <div 
        class="video-line"
        [style.top]="videoLineTop"
        [style.opacity]="videoLineOpacity">
        <app-video-line  
            [sources]="leftVideoArray"
            [style.transition]="videoLineTransition"
            [style.transform]="videoLineTransform"></app-video-line>
        <app-video-line  
            [sources]="leftVideoArray"
            [style.transition]="videoLineTransition"
            [style.transform]="videoLineTransform"></app-video-line>
    </div> 
</div>
<!-- #region second section -->
<section class="screen-height-section w-full flex">
    <div class="grid grid-rows-[1fr_2fr] grid-cols-[2fr_1fr] h-full mx-auto min-w-[1000px]">
        <section class="my-auto">
            <p class="text-accent underscored text-5xl font-bold my-auto">
                GLOBE
            </p>
            <p class="text-secondary text-3xl font-bold mt-4">Equipment monitoring</p>
        </section>
        
        <app-feature-selector class="my-auto w-full">

        </app-feature-selector>

        <div class="bg-green-400 col-span-2 mx-auto mb-8">

        </div>
    </div>
</section>
<!-- #endregion second section -->