
nav{
    height: 6rem;
}
#signature{
    stroke: var(--accent-font);
    stroke-dasharray: 1854.5665283203125;
    stroke-dashoffset: 1854.5665283203125;
    animation: sign-in 5000ms ease-in forwards;    
}
@keyframes sign-in{
    20%{
        stroke-dashoffset: 0;
    }
    100%{
        stroke-dashoffset: 0;
    }
}
*{
    color: var(--accent-font);
    transition: all 1s ease-in;
}
.lato{
}
.underscored {
    position: relative;
    display: flex;
}
.underscored::after {
    transition: all 0.3s ease-out;
    position: absolute;
    bottom: 0px;
    border-radius: 100px;
    background-color: var(--accent-font);
    content: "";
    height: 2px;
    left: 50%;
    transform: translate(-50%,0);
    margin-left: auto;
    width: 0px;
}
.menu-item{
    font-family: 'Lato', sans-serif;
    @apply text-lg font-bold my-auto
}
.menu-item:hover:after{
    width: 50%;
    transform: translate(-50%,0) scaleY(2);
}
.menu-item:active:after{
    width: 100%;
}

::ng-deep .p-overlaypanel-content{
    padding: 0px !important;
}
::ng-deep .p-overlaypanel:after {
    display: none;
}
::ng-deep .p-overlaypanel:after {
    border-bottom-color: var(--accent-font);
}