::ng-deep .wrapper{
    --circle-step: 28px;
    --base-circle-size: 200px;
}
.background-circle {
    position: absolute;
    border-width: 2px;
    border-color: black;
    border-radius: 999px;
    aspect-ratio: 1;
}
.rotate-circle {
    margin: 0 0;
    margin: 10px 0 0 10px;
    transform-origin: 118px 118px; 
}

@keyframes counter-rotate {
    to {
        transform: rotate(-360deg);
    }
}

