<section class="wrapper flex w-[calc(var(--base-circle-size)+var(--circle-step)*2)] aspect-square">
    <div class="background-circle w-[var(--base-circle-size)] 
        ml-[var(--circle-step)] mt-[var(--circle-step)] rounded-full "></div>

    <div class="background-circle w-[calc(var(--base-circle-size)+var(--circle-step))] 
        ml-[calc(var(--circle-step)/2)] mt-[calc(var(--circle-step)/2)] rounded-full "></div>

    <div class="background-circle w-[calc(var(--base-circle-size)+var(--circle-step)*2)] rounded-full "></div>

    <div class="test-rotate w-8 h-8 bg-red-500">

    </div>
</section>