@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --padding-default: 2rem;
}
@layer utilities {
    .p-default{
        padding: var(--padding-default);
    }
    .m-default{
        margin: var(--padding-default);
    }
    .pl-default{
        padding: var(--padding-default) 0 0 0;
    }
  }