
::ng-deep .scroll-hidden{
    opacity: 0;
}
::ng-deep .scroll-show{
    transition: all var(--showup-duration) var(--showup-easing);
    transform: translateX(0);
    opacity: 1;
}
@media(prefers-reduced-motion){
    ::ng-deep  .scroll-hidden{
        transform: translateX(0);
        transition: none;
    }
}
/* transition none on hidden for quick reset after scroll-out */
::ng-deep .scroll-hidden-repeat{
    transition: none;
    opacity: 0;
}
::ng-deep .scroll-show-repeat{
    transition: opacity var(--showup-duration) ease-in, transform 500ms;
    opacity: 1;
    transform: translateX(0);
}
@media(prefers-reduced-motion){
    ::ng-deep  .scroll-hidden-repeat{
        transform: translateX(0);
        transition: none;
    }
}