
<div class="flex flex-row gap-8 mb-16">
    <section class="video-item">
        <video class="video-item" autoplay loop muted>
            <source [src]="sources[0]" type="video/mp4" />
        </video>
    </section>
    <section class="video-item">
        <video class="video-item" autoplay loop muted>
            <source [src]="sources[1]" type="video/mp4" />
        </video>
    </section>
    <section class="video-item">
        <video class="video-item"  autoplay loop muted>
            <source [src]="sources[2]" type="video/mp4" />
        </video>
    </section>
    <section class="video-item">
        <video  class="video-item" autoplay loop muted>
            <source [src]="sources[3]" type="video/mp4" />
        </video>
    </section>
</div>
